@model IEnumerable<UserDashboard2.Models.customerInfo>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrialUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOfCustomers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.globalGleasonAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rsm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gleasonInternalSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrialUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListOfCustomers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.globalGleasonAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rsm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gleasonInternalSales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustId })
        </td>
    </tr>
}

</table>
